<div class="w-32 flex flex-col gap-2 shrink-0">
  <a href="{{ config.rootUrl }}/mail/inbox" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>
    <span class="text">Inbox</span>
  </a>

  <a href="{{ config.rootUrl }}/mail/drafts" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fa-solid fa-file-pen"></i></span>
    <span class="text">Drafts</span>
  </a>

  <a href="{{ config.rootUrl }}/mail/outbox" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fa-solid fa-rotate"></i></span>
    <span class="text">Outbox</span>
  </a>

  <a href="{{ config.rootUrl }}/mail/sent" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
    <span class="text">Sent</span>
  </a>

  <a href="{{ config.rootUrl }}/mail/templates" class="btn btn-square btn-transparent">
    <span class="icon"><i class="fa-solid fa-file-lines"></i></span>
    <span class="text">Templates</span>
  </a>

</div>