<h1>{{ translate('Settings') }} > {{ translate('Apps') }}</h1>

<div class="flex gap-2">
  <div class="alert alert-info">Installed apps: {{ viewParams.installedApps|length }}</div>
  <div class="alert alert-info">Available apps: {{ viewParams.availableApps|length }}</div>
</div>

<div class="card">
  <div class="card-header">Apps</div>
  <div class="card-body">
    <form action="" method="get">
      <input
        name="findApp"
        class="w-full p-2 border border-gray text-lg {{ viewParams.findApp == "" ? "" : "bg-yellow-100 border-yellow-300" }}"
        placeholder="Search app..."
        value="{{ viewParams.findApp }}"
      />
    </form>

    <div class="grid md:grid-cols-4 lg:grid-cols-4 gap-2 mt-2">
      {% for appNamespace, app in viewParams.appsToShow %}
        <div class="card">
          <div class="card-header">
            <div>
              {{ app.manifest.nameTranslated ?? app.manifest.name }}
              {% if app.type == 1 %} <div class="badge badge-violet">Community</div> {% endif %}
              {% if app.type == 2 %} <div class="badge badge-lime">Premium</div> {% endif %}
              {% if app.type == 3 %} <div class="badge badge-yellow">External</div> {% endif %}
            </div>
            <i class="{{ app.manifest.icon }}"></i>
          </div>
          <div class="card-body">
            <div>{{ app.manifest.highlightTranslated ?? app.manifest.highlight }}</div>
            <div class="text-gray-400">{{ app.namespace }}</div>
          </div>
          <div class="card-footer">
            {% if app.instance %}
              {% if app.hasCustomSettings %}
                <a class="btn btn-transparent" href="{{ app.manifest.rootUrlSlug }}/settings">
                  <span class="icon"><i class="fas fa-cog"></i></span>
                  <span class="text">{{ translate('Settings') }}</span>
                </a>
              {% endif %}
              <a class="btn btn-blue" href="{{ app.manifest.rootUrlSlug }}">
                <span class="icon"><i class="fas fa-arrow-right"></i></span>
                <span class="text">{{ translate('Open') }}</span>
              </a>
              {% if app.instance.enabled %}
                {% if app.instance.canBeDisabled %}
                  <a class="btn btn-red-outline" href="?disableApp={{ appNamespace }}">
                    <span class="icon"><i class="fas fa-trash-can"></i></span>
                    <span class="text">{{ translate('Disable') }}</span>
                  </a>
                {% endif %}
              {% else %}
                <a class="btn btn-success" href="?enableApp={{ appNamespace }}">
                  <span class="icon"><i class="fas fa-check"></i></span>
                  <span class="text">{{ translate('Enable') }}</span>
                </a>
              {% endif %}
            {% else %}
              {% if app.type == 1 or viewParams.main.isPremium %}
                <a class="btn btn-primary" href="?installApp={{ appNamespace }}">
                  <span class="icon"><i class="fas fa-add"></i></span>
                  <span class="text">{{ translate('Install') }}</span>
                </a>
              {% elseif not viewParams.main.isPremium %}
                <div class="badge badge-warning">You can install Premium apps only in Premium account.</div>
                <a class="btn btn-primary" href="{{ config.rootUrl }}/cloud">
                  <span class="icon"><i class="fas fa-medal"></i></span>
                  <span class="text">{{ translate('Activate Premium account') }}</span>
                </a>
              {% endif %}
            {% endif %}
            {# <a class="btn btn-red" href="{{ app.url }}">
              <span class="text">{{ translate('Uninstall') }}</span>
            </a> #}
          </div>
        </div>
      {% endfor %}
    </div>

    <a class="btn btn-transparent mt-2" href="{{ config.rootUrl }}/settings/update-default-permissions">
      <span class="icon"><i class="fas fa-refresh"></i></span>
      <span class="text">Update default permissions</span>
    </a>
  </div>
</div>