<h1 class="app-main-title">{{ appName }} > {{ modelPluralForm }}</h1>

<app-{{ appNameKebab|lower }}-table-{{ modelPluralFormKebab }}
  string:tag="table-{{ modelPluralFormKebab }}"
  int:record-id="{{ '{{' }} viewParams.recordId {{ '}}' }}"
></app-{{ appNameKebab|lower }}-table-{{ modelPluralFormKebab }}>